<form>
  <div>
     <label>Number</label>
     <input type="text">
  </div>
  <div>
     <label>Title</label>
     <input type="text" placeholder="Machine Learning">
  </div>
  <div>
     <label>Credits</label>
     <input type="text">
  </div>
  <div>
        <label>Department</label>
        <select>
                <option>Arts</option>
                <option>Deep..Studies</option>
                <option>Engineering</option>
                <option>Test</option>
        </select>
  </div>      
  <button routerLink="/Studentlist" class="btn btn-primary">Create Course</button>